page-welcome {
    margin-top:5%;
    text-align: center;
    .signupbtn{
        margin-top:10px;
    }
    .logo{
        max-height:10rem;
        display: block;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 12pt;
    }
}
